* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #615dad, #ffc8da);
    height: 100vh;
    margin: 0;
}

h1,
p,
a {
    color: #ffffff;
}

h1 {
    font-family: Lobster;
}

p,
a {
    font-family: sans-serif;
}

